<h1 align='center' style='color:purple'><b>Sentiment Analysis</b></h1>

Sentiment analysis is the area which deals with judgments, responses as well as feelings, which is generated from texts, being extensively used in fields like data mining, web mining, and social media analytics because sentiments are the most essential characteristics to judge the human behavior. Sentiments can be positive, negative, or neutral. 
Based on this project we can judge the mood of the person while making a tweet.

<b> Install tweepy </b>  
[Tweepy](https://docs.tweepy.org/en/latest/) is an easy-to-use Python library for accessing the Twitter API.

In [5]:
!pip install tweepy

Requirement already satisfied: tweepy in c:\users\sambi\appdata\local\programs\python\python38\lib\site-packages (3.10.0)

WARNING: You are using pip version 20.2.3; however, version 21.2.2 is available.
You should consider upgrading via the 'c:\users\sambi\appdata\local\programs\python\python38\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\sambi\appdata\local\programs\python\python38\lib\site-packages (from tweepy) (1.3.0)
Requirement already satisfied: requests[socks]>=2.11.1 in c:\users\sambi\appdata\local\programs\python\python38\lib\site-packages (from tweepy) (2.26.0)
Requirement already satisfied: six>=1.10.0 in c:\users\sambi\appdata\roaming\python\python38\site-packages (from tweepy) (1.15.0)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\sambi\appdata\local\programs\python\python38\lib\site-packages (from requests-oauthlib>=0.7.0->tweepy) (3.1.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\sambi\appdata\local\programs\python\python38\lib\site-packages (from requests[socks]>=2.11.1->tweepy) (1.26.6)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\sambi\appdata\local\programs\python\python38\lib\site-packages (from requests[socks]>=2.11.1->tweepy) (2021.5.30)
Requirement already satisfied: idna<4,>=2.5; python_version >= "3" in c:\users\sambi\appdata\local\programs\python\python38\lib\site-packages (from requests[socks]>=2.11.1->tweepy) (3.2)
Requirement already satisfied: charset-normalizer~=2.0.0; python_version >= "3" in c:\users\sambi\appdata\local\programs\python\python38\lib\site-packages (from requests[socks]>=2.11.1->tweepy) (2.0.4)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6; extra == "socks" in c:\users\sambi\appdata\local\programs\python\python38\lib\site-packages (from requests[socks]>=2.11.1->tweepy) (1.7.1)

<b>Import tweepy and pandas Library </b>

In [6]:
import tweepy
import pandas as pd

To get our own consumer key create a developer account and create a project over https://developer.twitter.com/en and access consumer key secret, access token, access token secret. It is free of cost (Limited use).

In [7]:
# Save the keys and token obtained from twitter

consumer_key = 'pF6zk9LwfTgFKhv53Kb4S1ACs'
consumer_secret = 'JN9jABAC8F1JF5JoTsLeuvmbENLJ6lMUqBJRRp5g8bbViKeuYF'
access_token = '1261337548816818176-YLuzE8REfxWO4yfAAgvYo2B561eyqt'
access_token_secret = 'rmlgbFYcwcEbhOyOX0RffgzXfKUgsm6Rbz7Y897ki3NAT'

# api_key="2dq4wMRXvtNn8nFRx5V5qR6YX"
# api_secret_key="pLm7uEIyw6LEZdi7z51dFNOK7hAJTnSyDLqSFdiCdugcPcCOt2"
# bearer_token="AAAAAAAAAAAAAAAAAAAAAEN6OgEAAAAA8tgS1XdhAytyd71YR%2BRLdZW0nnU%3DjzEsCj0XQuccvpkT0cN0YeDqWa9w1GiPrSnFeBdBlEEq1UR5yJ"

<b> Authentication using the obtained keys and tokens</b>

In [8]:
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth)

<b> Importing 150 tweets from BBC News twitter handle (@BBCBreaking)</b>

In [9]:
n_tweets = 150
get_tweets = tweepy.Cursor(api.user_timeline, id = 'BBCBreaking', tweet_mode = 'extended').items(n_tweets)

150 tweet details relevant to the keyword will be stored in get_tweets variable in JSON format

<b> Iterate over extracted tweets saved in 'get_tweets' variable and store the tweet's text and time</b>

In [10]:
tweets = []
time_of_tweet = []
for i in get_tweets:
    tweets.append(i.full_text)            # .full_text returns the text written in a particular tweet
    time_of_tweet.append(i.created_at)    # .created_at returns the time of tweet

You can read about more tweepy attributes [here](https://developer.twitter.com/en/docs/twitter-api/v1/data-dictionary/object-model/tweet)

<b> Store the Data in a DataFrame </b>

In [11]:
df = pd.DataFrame({'tweet':tweets, 'time':time_of_tweet})

<b> First 10 tweets </b>

In [12]:
df.iloc[:10,:]

                                               tweet                time
0  RT @BBCSport: Dina Asher-Smith's Olympics is o... 2021-07-31 11:41:03
1  RT @BBCSport: WOW! Itâ€™s gold for Great Britain... 2021-07-31 02:56:19
2  RT @BBCSport: GOLD! ðŸ¥‡\n\n#TeamGB have won gold... 2021-07-30 23:54:07
3  Amazon fined $886.6m (Â£636m) for allegedly bre... 2021-07-30 14:58:46
4  Man pleads guilty to assaulting England's chie... 2021-07-30 14:15:45
5  RT @BBCSport: GOLD ðŸ¥‡\n\nBETHANY SHRIEVER HAS D... 2021-07-30 03:46:06
6  Jodie Whittaker to step down from lead role in... 2021-07-29 14:03:54
7  RT @BBCSport: Multiple members of the Australi... 2021-07-29 05:17:14
8  Fully vaccinated travellers from US and EU wil... 2021-07-28 12:17:02
9  Charlotte Dujardin wins dressage bronze to bec... 2021-07-28 12:09:34

<b> Remove Re-tweets </b>

In [13]:
# Remove Re-tweets
df = df[df['tweet'].str.contains("RT")==False]

<b> Reset Index </b>

In [14]:
# Reset index as there are some irregularities in index after removal of some rows
df = df.reset_index().drop('index' ,axis = 1)

<b> Remove Links as they dont represent sentiment </b>

In [15]:
# Use Regex Library to find the pattern "http" followed any length of sting or number with white space and replace with "".
import re

# Keep df as backup, number of request you make from API is limited.
df1 = df.copy()
df1.tweet = df.tweet.apply(lambda x : re.sub(r"http\S+", "", x))

<b> Remove '/n' wish represents line breaks </b>

In [16]:
df1.tweet = df1.tweet.apply(lambda x : x.replace('\n\n',' '))
df1.tweet = df1.tweet.apply(lambda x : x.replace('\n \n',' '))

<b> TextBlob </b>  
[TextBlob](https://textblob.readthedocs.io/en/dev/) is a Python (2 and 3) library for processing textual data. It provides a simple API for diving into common natural language processing (NLP) tasks such as part-of-speech tagging, noun phrase extraction, sentiment analysis, classification, translation, and more.

<b> Install Textblob </b>

In [17]:
!pip install textblob

Collecting textblob

WARNING: You are using pip version 20.2.3; however, version 21.2.2 is available.
You should consider upgrading via the 'c:\users\sambi\appdata\local\programs\python\python38\python.exe -m pip install --upgrade pip' command.

  Downloading textblob-0.15.3-py2.py3-none-any.whl (636 kB)
Collecting nltk>=3.1
  Downloading nltk-3.6.2-py3-none-any.whl (1.5 MB)
Collecting joblib
  Downloading joblib-1.0.1-py3-none-any.whl (303 kB)
Collecting regex
  Downloading regex-2021.7.6-cp38-cp38-win_amd64.whl (270 kB)
Collecting click
  Downloading click-8.0.1-py3-none-any.whl (97 kB)
Collecting tqdm
  Downloading tqdm-4.62.0-py2.py3-none-any.whl (76 kB)
Requirement already satisfied: colorama; platform_system == "Windows" in c:\users\sambi\appdata\roaming\python\python38\site-packages (from click->nltk>=3.1->textblob) (0.4.3)
Installing collected packages: joblib, regex, click, tqdm, nltk, textblob
Successfully installed click-8.0.1 joblib-1.0.1 nltk-3.6.2 regex-2021.7.6 textblob-0.15.3 tqdm-4.62.0

<b> Import Textblob and get tweet sentiment score and save it in 'sentimen' column of df1 </b>

In [18]:
from textblob import TextBlob
df1['sentiment'] = df1['tweet'].apply(lambda x: TextBlob(x).sentiment)
df1

,tweet,time,sentiment
0,Amazon fined $886.6m (Â£636m) for allegedly bre...,2021-07-30 14:58:46,"(-0.05, 0.05)"
1,Man pleads guilty to assaulting England's chie...,2021-07-30 14:15:45,"(-0.16666666666666666, 0.4166666666666667)"
2,Jodie Whittaker to step down from lead role in...,2021-07-29 14:03:54,"(-0.15555555555555559, 0.2888888888888889)"
3,Fully vaccinated travellers from US and EU wil...,2021-07-28 12:17:02,"(0.0, 0.0)"
4,Charlotte Dujardin wins dressage bronze to bec...,2021-07-28 12:09:34,"(0.15, 0.18333333333333335)"
...,...,...,...
120,The report into the 1995 interview between Mar...,2021-05-20 13:26:19,"(0.0, 0.0)"
121,BBC â€œfell short of high standards of integrity...,2021-05-20 13:16:16,"(0.08, 0.41999999999999993)"
122,"More than 2,500 women who were victims of the ...",2021-05-20 08:33:36,"(0.25, 0.25)"
123,China becomes only the second country to land ...,2021-05-15 01:00:59,"(-0.051851851851851864, 0.42962962962962964)"
124,Second doses of the Covid vaccine for over-50s...,2021-05-14 16:47:45,"(-0.20833333333333334, 0.2916666666666667)"

The .sentiment attribute returns 2 things :  
 - sentiment [-1,1] : 0 means neutral, <0 means negative and >0 means positive sentiment
 - Subjectiveness : tell if the topic being mentioned in the tweet is an opinion or fact.
 
Since we have to check tweet's sentiment, we will use the sentiment score and classify it as positive, negative or neutral using a nested if-else statement.

In [19]:
df1.sentiment = df1.sentiment.apply(lambda x : "Positive" if x[0] > 0 else ("Negative" if x[0] < 0 else "Neutral"))
df1

,tweet,time,sentiment
0,Amazon fined $886.6m (Â£636m) for allegedly bre...,2021-07-30 14:58:46,Negative
1,Man pleads guilty to assaulting England's chie...,2021-07-30 14:15:45,Negative
2,Jodie Whittaker to step down from lead role in...,2021-07-29 14:03:54,Negative
3,Fully vaccinated travellers from US and EU wil...,2021-07-28 12:17:02,Neutral
4,Charlotte Dujardin wins dressage bronze to bec...,2021-07-28 12:09:34,Positive
...,...,...,...
120,The report into the 1995 interview between Mar...,2021-05-20 13:26:19,Neutral
121,BBC â€œfell short of high standards of integrity...,2021-05-20 13:16:16,Positive
122,"More than 2,500 women who were victims of the ...",2021-05-20 08:33:36,Positive
123,China becomes only the second country to land ...,2021-05-15 01:00:59,Negative
124,Second doses of the Covid vaccine for over-50s...,2021-05-14 16:47:45,Negative

The sentiments corresponding to the tweets are stored in the sentiment column.